.label_group label {
  float: left; }

.kpa_rate {
  float: right;
  width: auto; }
  .kpa_rate label {
    float: left;
    margin-right: 1em; }
  .kpa_rate .slider {
    float: left;
    width: 8em;
    position: relative;
    top: 0.2em; }
  .kpa_rate .rate_text {
    float: left;
    margin-left: 1em;
    font-weight: bold; }

.mce-tinymce {
  clear: both; }

.alert p:last-child {
  margin-bottom: 0; }

.label, .badge {
  color: #fff; }
