.wf-loading {
  visibility: hidden; }

body {
  padding-top: 90px;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  background-image: url(/img/debut_light.png);
  font-weight: 400; }
  @media (max-width: 980px) {
    body {
      padding-top: 0px; } }

h1, h2, h3, h4 {
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  font-weight: 700; }

.container {
  max-width: 800px; }

.label_group label {
  float: left; }

.kpa_rate {
  float: right;
  width: auto; }
  .kpa_rate label {
    float: left;
    margin-right: 1em; }
  .kpa_rate .slider {
    float: left;
    width: 8em;
    position: relative;
    top: 0.2em; }
  .kpa_rate .rate_text {
    float: left;
    margin-left: 1em;
    font-weight: bold;
    width: 15px; }

.ui-slider-handle {
  outline: none !important; }

.mce-tinymce {
  clear: both;
  margin-bottom: 10px !important;
  max-width: 800px; }

.alert p:last-child {
  margin-bottom: 0; }

.label, .badge {
  color: #fff; }

table form {
  margin-bottom: 0; }

a.brand img {
  width: 150px; }

.navbar .nav > li > a {
  padding: 21px 15px 23px; }
  @media (max-width: 980px) {
    .navbar .nav > li > a {
      padding: 11px 15px 10px; } }

table.employees td {
  vertical-align: middle; }
